[submodule "hxs/bases/usual-objects"]
	path = submodules/usual-objects
	url = git@github.com:eccelerators/usual-objects.git
[submodule "sphinx-template"]
	path = submodules/sphinx-template
	url = git@github.com:eccelerators/sphinx-template.git
[submodule "eccelerators-docbook"]
	path = submodules/eccelerators-docbook
	url = git@github.com:eccelerators/eccelerators-docbook.git
[submodule "sphinx_docbook"]
	path = submodules/sphinx_docbook
	url = git@github.com:eccelerators/sphinx_docbook.git
[submodule "tb-ip/hdl/Eccelerators/simstm"]
	path = submodules/simstm
	url = git@github.com:eccelerators/simstm.git
